libicudata.so.56 filter=lfs diff=lfs merge=lfs -text
libQt5PrintSupport.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5QuickWidgets.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5Core.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5WebEngineWidgets.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5XcbQpa.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5Quick.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5Svg.so.5 filter=lfs diff=lfs merge=lfs -text
libicuuc.so.56 filter=lfs diff=lfs merge=lfs -text
libQt5MultimediaGstTools.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5OpenGL.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5Positioning.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5QmlModels.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5Quazip.so.1 filter=lfs diff=lfs merge=lfs -text
libQt5Quazip.so.1.0.0 filter=lfs diff=lfs merge=lfs -text
libQt5VirtualKeyboard.so.5 filter=lfs diff=lfs merge=lfs -text
libicui18n.so.56 filter=lfs diff=lfs merge=lfs -text
libQt5Gui.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5MultimediaWidgets.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5WebEngineCore.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5Widgets.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5DBus.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5Network.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5WebSockets.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5WebChannel.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5EglFSDeviceIntegration.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5Multimedia.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5Qml.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5SerialPort.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5WaylandClient.so.5 filter=lfs diff=lfs merge=lfs -text
libQt5WaylandCompositor.so.5 filter=lfs diff=lfs merge=lfs -text
